/***********
1. Fonts
***********/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900");

/*********************************
2. Body and some general stuff
*********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background: #ffffff;
  color: #1e1e27;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color: #989898;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a {
  display: inline;
  position: relative;
  text-decoration: none;
  color: inherit;
  border-bottom: solid 2px #fde0db;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a:active {
  position: relative;
  color: #ff6347;
}

p a:hover {
  color: #ff6347;
  background: #fde0db;
}

p a:hover::after {
  opacity: 0.2;
}

::selection {
  background: #fde0db;
  color: #ff6347;
}

p::selection {
  background: #fde0db;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}

::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

:-moz-placeholder

/* older Firefox*/
  {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

::-moz-placeholder

/* Firefox 19+ */
  {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

:-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

::input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

.form-control {
  color: #db5246;
}

section {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.fill_height {
  height: 100%;
}

.super_container {
  width: 100%;
  overflow: hidden;
}

/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

@media only screen and (max-width: 1600px) {}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px) {}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
  .product-item {
    height: 360px;
  }

  .product {
    height: 320px;
  }
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  .top_nav {
    display: none;
  }

  .navbar_menu {
    display: none;
  }

  .hamburger_container {
    display: block;
  }

  .product_section_container {
    margin-top: 100px;
  }

  .sidebar {
    float: none;
    width: 100%;
    padding-right: 0px;
  }

  .filter_button {
    width: 150px;
  }

  .main_content {
    float: none;
    width: 100%;
    padding-left: 0px;
  }

  .grid-item {
    width: 100%;
  }

  .product-item {
    width: 100%;
  }

  .benefit_col {
    margin-bottom: 30px;
  }

  .benefit_col:last-child {
    margin-bottom: 0px;
  }

  .newsletter_text {
    height: auto;
    margin-top: 30px;
  }

  .newsletter_text p {
    margin-top: 5px;
  }

  .newsletter_form {
    height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .footer_nav_container {
    height: auto;
    margin-top: 65px;
  }

  .footer_social {
    height: auto;
    margin-top: 20px;
    margin-bottom: 65px;
  }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h6 {
    font-size: 12px;
  }

  .red_button a {
    font-size: 12px;
  }

  .new_arrivals_title {
    margin-top: 44px;
  }

  .product_sorting {
    display: block;
  }

  .product_sorting>li {
    display: block;
    margin-bottom: 15px;
  }

  .pages {
    float: none;
  }

  .showing_results {
    display: block;
    float: none;
    margin-bottom: 15px;
  }

  .product_sorting_container_bottom .product_sorting {
    float: none;
  }

  .product_sorting_container_bottom .pages {
    float: none;
  }

  .product-item {
    width: 100%;
    height: 345px;
  }

  .product {
    height: 305px;
  }

  .benefit_col {
    margin-bottom: 15px;
  }

  .newsletter_form {
    margin-bottom: 40px;
  }

  .newsletter_submit_btn {
    margin-top: 15px;
  }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
  .hamburger_menu {
    right: -100%;
    width: 100%;
  }

  .product-item {
    width: 50%;
    height: 420px;
  }

  .product {
    height: 380px;
  }

  .cr {
    display: block;
    margin-right: 0px;
    margin-bottom: 30px;
    font-size: 13px;
  }

  .footer_nav {
    margin-bottom: 20px;
  }

  .footer_nav li {
    display: block;
    margin-right: 0px;
  }

  .footer_nav li a {
    font-size: 13px;
  }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
  .logo_container a {
    font-size: 12px;
  }

  .hamburger_container {
    margin-left: 25px;
  }

  .hamburger_container i {
    font-size: 16px;
  }

  .hamburger_close {
    top: 14px;
    right: 4px;
  }

  .hamburger_close i {
    font-size: 20px;
  }

  .hamburger_menu_content {
    padding-right: 15px;
    padding-top: 70px;
  }

  .menu_item {
    border-bottom-color: rgba(181, 174, 196, 0.5);
  }

  .menu_item>a {
    font-size: 12px;
    line-height: 35px;
    height: 35px;
  }

  .menu_selection li a {
    font-size: 12px;
    line-height: 35px;
    height: 35px;
  }

  .navbar {
    height: 70px;
  }

  .navbar_user li a {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .checkout_items {
    width: 15px;
    height: 15px;
    font-size: 10px;
  }

  .red_button a {
    font-size: 10px;
  }

  .product-item {
    width: 100%;
    height: auto;
  }

  .product {
    height: auto;
  }

  .product_name a {
    font-size: 12px;
  }

  .add_to_cart_button {
    margin-top: 20px;
  }

  .section_title::after {
    top: calc(100% + 8px);
    height: 3px;
  }

  .newsletter_form {
    margin-top: 22px;
  }

  .newsletter_text h4 {
    font-size: 20px;
  }

  .newsletter_text p {
    font-size: 13px;
    margin-top: 5px;
  }

  .newsletter_submit_btn {
    font-size: 12px;
  }

  #newsletter_email {
    height: 40px;
    width: 100%;
    padding-left: 15px;
  }

  .newsletter_submit_btn {
    height: 36px;
    width: 130px;
  }

  #newsletter_email::-webkit-input-placeholder {
    font-size: 12px !important;
    padding-left: 0px;
  }

  #newsletter_email:-moz-placeholder

  /* older Firefox*/
    {
    font-size: 12px !important;
    padding-left: 0px;
  }

  #newsletter_email::-moz-placeholder

  /* Firefox 19+ */
    {
    font-size: 12px !important;
    padding-left: 0px;
  }

  #newsletter_email:-ms-input-placeholder {
    font-size: 12px !important;
    padding-left: 0px;
  }

  #newsletter_email::input-placeholder {
    font-size: 12px !important;
    padding-left: 0px;
  }

  .footer_nav_container {
    margin-top: 35px;
  }

  .cr {
    margin-bottom: 20px;
  }

  .footer_nav {
    margin-bottom: 20px;
  }

  .footer_social {
    margin-top: 5px;
    margin-bottom: 30px;
  }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {}